@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Oswald&family=Quicksand&display=swap');

body {
    color: none;
}

header {
    height: 20px;
}

footer {
    height: 10px;
}

fieldset {
    border: none;
}

/* headings and logo */

h1, h2 {
    font-family: 'DynaPuff', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}

a:link {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.header-span {
    padding: 5px;
    margin: 10 10 10 10;
    width: 33%;
}

#logo-title {
    float: left;
    font-size: 400%;
    margin-left: 5px;
    font-family: 'DynaPuff', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    text-decoration: none;
}

#logo-image {
    height: 5em;
    width: 10em;
    float: left;
    margin-left: 330px;
    margin-top: 10px;
}

#menu {
    font-size: 175%;
    letter-spacing: 4px;
    float: right;
    margin-right: 40px;
}

#menu #logo #logo-image {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    font-weight: bold;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main menu image */

#table-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#table-image {
    height: 300px;
    width: 100%;
    background: url('../images/table-image.png') repeat center center;

    /* animation zoom effect on loading page */
    animation-name: table-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates animation for table image */

@keyframes table-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

/* main page culture & gastronomy */

#main-section {
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

#brazil-content {
    padding: 10px;
    float: right;
    background-color: rgb(184, 184, 184);
    margin: 50px;
    border-radius: 40px;
}

#brazil-info-image {
    height: 20%;
    width: 30%;
    border-radius: 20px;
}

div img {
    border-radius: 10px;
    width:  300px;
    height: 300px;
    object-fit: cover;
    }

#brazil-content h2 {
    text-align: left;
}

#brazil-content p {
    text-align: left;
}

#brazil-content img {
    text-align: center;
}

#portugal-content {
    padding: 10px;
    float: right;
    background-color: rgb(184, 184, 184);
    margin: 50px;
    border-radius: 40px;
}

#portugal-info-image {
    height: 20%;
    width: 30%;
    border-radius: 20px;
}

#portugal-info h2 {
    text-align: right;
}

#portugal-info p {
    text-align: right;
}

#portugal-content img {
    text-align: center;
}

/* footer */

.social-media {
    height: 10px;
    text-align: center;
    font-size: 150%;
    margin-bottom: 20px;
    padding: 2.5px;
    color: gray;
}

/* photos */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    align-content: center;
    background-color: lightgray;
}

div > span {
    padding: 20px 40px;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 20px;
    background-color: gray;
} 

span > img {
    border-radius: 10px;
    width:  300px;
    height: 300px;
    object-fit: cover;
    }

#photos > img {
    width: 100%;
}

/* contact form */

form {
	margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 40rem;
    margin-right: 20rem;
    text-align: left;
    background-color: rgb(184, 184, 184);
    padding: 10px;
    border-radius: 40px;

}

#form-box {
    background-color: lightgray;
    padding: 20px;
}

form > div {
    text-align: left;
}

form > fieldset {
    text-align: left;

}

legend {
    font-family: 'DynaPuff', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

button {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button1 {
    background-color: black; 
    color: white; 
    border: 2px solid lightgray;
}
  
  .button1:hover {
    background-color: white;
    color: black;
  }
  
  .button2 {
    background-color: darkgray; 
    color: black; 
    border: 2px solid lightgray;
  }
  
  .button2:hover {
    background-color: white;
    color: black;
  }

/* media queries */

/* for larger to medium screens size from 1200px wide */

@media screen and (max-width: 1200px) {
    #main-info, #photos,  {
        width: 60%;
        height: 1200px;
        margin: 0 auto;
    }

    form > fieldset {
        width: 60%;
        height: 1200px;
        margin-left: 0;
    }

    #brazil, #brazil-content {
        clear: both;
        float: center;
        width: 100%;
    }

    #portugal, #portugal-content {
        clear: both;
        float: center;
        width: 100%;
    }
}