@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Oswald&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: 'DynaPuff', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    wor
    margin-right: 30px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 3px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main menu image */

#table-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#table-image {
    height: 300px;
    width: 100%;
    background: url('../images/table-image.png') repeat center center;

    /* animation zoom effect on loading page */
    animation-name: table-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates animation for table image */

@keyframes table-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

/* main page culture & gastronomy */

#main-info {
    height: 600px;
}

#left-info {
    padding-top: 30px;
    float: left;
    background-color: gray;
}

#brazil-image {
    height: 200px;
    width: 100%;
    background: url('../images/brazil-capoeira-unesco.jpg') left;  
}

#right-info {
    padding-top: 30px;
    float: right;
}

#portugal-image {
    height: 200px;
    width: 100%;
    background: url('../images/portugal-cork-traditional.jpg') right;  
}

.left-info-div {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-info-div {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-info h2 {
    text-align: left;
}

.left-info p {
    text-align: left;
}

.right-info h2 {
    text-align: right;
}

.right-info p {
    text-align: right;
}

/* footer */

footer {
    height: 20px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 2%;
    padding: 2%;
    color: grey;
}

/* photos */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    background-color: gray;
}

#photos > img {
    width: 100%;
}

/* contact form */

form {
	margin-top: 5rem;
    text-align: center;
    background-color: gray;
}

form > h2 {
	margin-top: 1rem;
    margin-left: 1rem;
    text-align: center;
}

form > fieldset {
	margin-top: 1rem;
    margin-left: 44rem;
    text-align: left;
}